<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.hhi.vaas.platform.mappingtool.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.hhi.vaas.platform.mappingtool.Perspective"
            id="com.hhi.vaas.platform.mappingtool.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.hhi.vaas.platform.mappingtool.ui.EquipmentDataView"
            id="com.hhi.vaas.platform.mappingtool.equipmentdataview"
            name="Equipment Data View"
            restorable="true">
      </view>
      <view
            class="com.hhi.vaas.platform.mappingtool.ui.VesselDataModelView"
            id="com.hhi.vaas.platform.mappingtool.vesseldatamodelview"
            name="Vessel Data Model View"
            restorable="true">
      </view>
      <view
            class="com.hhi.vaas.platform.mappingtool.ui.MappingTableView"
            id="com.hhi.vaas.platform.mappingtool.mappingtableview"
            name="Mapping Table View"
            restorable="true">
      </view>
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="org.eclipse.ui.navigator.commonnavigator"
            name="CommonNavigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="com.hhi.vaas.platform.mappingtool.equipmentdataview"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.hhi.vaas.platform.mappingtool.mappingtableview"
               minimized="false"
               relationship="bottom"
               relative="com.hhi.vaas.platform.mappingtool.equipmentdataview"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.hhi.vaas.platform.mappingtool.vesseldatamodelview"
               minimized="false"
               relationship="right"
               relative="com.hhi.vaas.platform.mappingtool.equipmentdataview"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.hhi.vaas.platform.mappingtool.application"
            name="Mapping Tool Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="Mapping Tool Product">
         </property>
         <property
               name="aboutImage"
               value="icons/about.gif">
         </property>
         <property
               name="aboutText"
               value="HHI VAAS Mapping Tool&#x0A;&#x0A;Version : 0.8.0&#x0A;Build : 2015-09-01&#x0A;&#x0A;Copyright (C) 2015~ Hyundai Heavy Industries. All Rights Reserved.&#x0A;&#x0A;This software is the confidential and proprietary information of Hyundai Heavy Industries&#x0A;You shall not disclose such Confidential Information and shall use it only &#x0A;in accordance with the terms of the license agreement&#x0A;you entered into with Hyundai Heavy Industries.">
         </property>
         <property
               name="startupProgressRect"
               value="10,385,520,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorPart"
            contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
            default="false"
            extensions="vcd"
            id="projection_test.editors.XMLEditor"
            name="Sample XML Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.hhi.vaas.platform.mappingtool.splashHandlers.BrowserSplashHandler"
            id="com.hhi.vaas.platform.mappingtool.splashHandlers.browser">
      </splashHandler>
      <splashHandler
            class="com.hhi.vaas.platform.mappingtool.splashHandlers.InteractiveSplashHandler"
            id="com.hhi.vaas.platform.mappingtool.splashHandlers.interactive">
      </splashHandler>
   </extension>

</plugin>
