<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/agent.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/agent.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- for Agent Master log -->
	<appender name="FILE_master" class="ch.qos.logback.core.rolling.RollingFileAppender" >
		<file>logs/master.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>logs/master.%d{yyyy-MM-dd}.log</fileNamePattern>

			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%line - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="com.hhi.vaas" level="DEBUG"/>
	<logger name="com.hhi.vaas.platform.agent.health" level="INFO"/>
	<logger name="com.hhi.vaas.platform.agent.sender.RabbitMQReSender" level="INFO"/>
	<logger name="com.hhi.vaas.platform.vdm.handler.validation.DataValidator" level="ERROR"/>
	<logger name="com.hhi.vaas.platform.agent.test" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<!-- Agent Master log -->
	<logger name="com.hhi.vaas.platform.agent.master" level="DEBUG" additivity="false">
		<appender-ref ref="FILE_master" />
	</logger>
	
	<logger name="com.leansoft.bigqueue" level="INFO"/>
	<logger name="org.apache.http" level="INFO"/>
	

	<root level="INFO">
	    <appender-ref ref="CONSOLE" />
	    <appender-ref ref="FILE" />
	</root>
	
</configuration>